.theme {
    master-color: #e3e3e8;
    dark-color : #333333;
    -fx-background-color: master-color ;
}

.pane{
    -fx-background-color: white;

}

.buttonGridPane {
    -fx-background-color: transparent;
    -fx-text-fill: master-color ;
    -fx-padding: 3 11 3 11;
    -fx-grid-color: transparent; 
}

.gridpane {
    -fx-background-color : dark-color ;

}

.label {
    -fx-background-color : #333333;
    -fx-text-fill: #e3e3e8 ;
    -fx-font-size : 16;
}

.check-menu-item 
{
    -fx-text-fill: #333333;
}

.menu-bar
{
    -fx-background-color: transparent;
}

.menu-bar .label
{
    -fx-background-color: transparent;
    -fx-text-fill: #333333;
}



.darkList {
    -fx-background-color: derive(master-color, -60%);
}

.darkList .list-cell {
    -fx-padding: 6 0 0 13;
    -fx-background-color: derive(master-color, -60%);
    -fx-text-fill: lightgrey;
}

.darkList .list-cell:focused {
    -fx-text-fill: white;
}

.table-view {
    -fx-border-width: 0;
    -fx-border-color: red;
}

.text-area, .text-field {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.text-area .content {
    -fx-background-color : master-color;
}

.text-field {
    -fx-padding: 3 6 3 6;
}
